{{define "subject"}}{{.BrandName}} - Activate your account{{end}}

{{define "plainBody"}}Welcome to {{.BrandName}}. Activate your account here: {{.Token}}{{end}}

{{define "htmlBody"}}<p>Welcome to {{.BrandName}}.</p><p>Activate your account here: {{.Token}}</p>{{end}}
